@font-face {
  font-family: 'Syne-04 Regular';
  src: url('assets/fonts/Syne-04 Regular.otf') format('opentype');
}

#wrapper {
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Syne-04 Regular;
  background-color: #F2F2F2;
  overflow-y: scroll;
}

#body::-webkit-scrollbar {
  display: none;
}

--------------------------------------------------------------------------------

/*   Header*/
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.headeritem-2 a {
  position: fixed;
  top: 25px;
  right: 20px;
  padding: 15px;
}

.header a {
  position: fixed;
  top: 25px;
  padding: 15px;
}

.header a:hover {
  color: darkred;
  transform: scale(1);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 102px;
}

/*  navbar*/
.navbar {
  overflow: hidden;
  position: fixed;
  left: 10px;
  bottom: 30px;
  width: 100%;
  padding: 5px;
}

/*  Navigation Bottom*/
a {
  font-family: Syne-04 Regular;
  font-size: 20px;
  text-align: left;
  color: #332F2E;
  text-decoration: none;
  padding: 10px;
  z-index: 2;
}

a:hover {
  color: darkred;
  transform: scale(1.0);
}

#active {
  color: darkred;
}

/*  Body Text*/
p {
  font-family: Syne-04 Regular;
  font-size: 16px;
  line-height: 22px;
  color: #332F2E;
  position: relative;
  text-align: left;
  margin: 20px;
}

/*  image*/
.image {
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: ;
  z-index: -1;
}

.image:hover {
  transform: scale(1.01);
  z-index: -1;
}

/*  icon*/
.icon {
  margin: auto;
  width: 24px;
  height: 24px;
  padding: 2px;
  position: fixed;
  right: 22px;
  top: 35px;
  z-index: 2;
}

.icon:hover {
  transform: scale(1.1);
  z-index: 1;
}

---------------------------------------------------------------------------------

/*   Modal Pop up*/
a {
  display: inline-block;
  text-decoration: none;
  color: #332F2E;
  padding: 5px;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  overflow-y: auto;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.modalDialog::-webkit-scrollbar {
  display: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 800px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
  margin: 2% auto;
  padding: 5px 5px 5px 5px;
  background: #F2F2F2;
  border-radius: 10px;
  overflow: auto;
  border: 1px solid #332F2E;
}

.close {
  color: #332F2E;
  font-size: 42px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.close:hover {
  color: #332F2E;
  font-size: 44px;
  border-radius: 0px 0px 0px 0px;
}

#modal-image {
  width: 70%;
  float: left;
  height: auto;
  max-height: 100%;
  padding: 20px;
}

#modal-image-2 {
  width: 50%;
  float: left;
  height: auto;
  max-height: 100%;
  padding: 20px;
}

--------------------------------------------------------------------------------

/*  Grid*/
  {}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: left;
  align-content: left;
  padding-top: 75px;
  grid-template-areas:
    "area1 area2 area3 area4 area5"
    "area6 area7 area8 area9 area10"
    "area11 area12 area13 area14 area15"
    "area16 area17 area18 area19 area20"
    "area21 area22 area23 area24 area25"
    "area26 area27 area28 area29 area30"
    "area31 area32 area33 area34 area35"
    "area36 area37 area38 area39 area40";
}

.grid-item1 {
  background: ;
  text-align: left;
  grid-area: area1;
}

.grid-item2 {
  background: ;
  grid-area: area2;
}

.grid-item3 {
  background: ;
  text-align: left;
  grid-area: area3;
}

.grid-item4 {
  background: ;
  text-align: left;
  grid-area: area4;
}

.grid-item5 {
  background: ;
  grid-area: area5;
}

.grid-item6 {
  background: ;
  text-align: left;
  grid-area: area6;
}

.grid-item7 {
  background: ;
  text-align: left;
  grid-area: area7;
}

.grid-item8 {
  background: ;
  grid-area: area8;
}

.grid-item9 {
  background: ;
  text-align: left;
  grid-area: area9;
}

.grid-item10 {
  background: ;
  text-align: left;
  grid-area: area10;
}

.grid-item11 {
  background: ;
  grid-area: area11;
}

.grid-item12 {
  background: ;
  text-align: left;
  grid-area: area12;
}

.grid-item13 {
  background: ;
  text-align: left;
  grid-area: area13;
}

.grid-item14 {
  background: ;
  grid-area: area14;
}

.grid-item15 {
  background: ;
  text-align: left;
  grid-area: area15;
}

.grid-item16 {
  background: ;
  text-align: left;
  grid-area: area16;
}

.grid-item17 {
  background: ;
  grid-area: area17;
}

.grid-item18 {
  background: ;
  text-align: left;
  grid-area: area18;
}

.grid-item19 {
  background: ;
  text-align: left;
  grid-area: area19;
}

.grid-item20 {
  background: ;
  grid-area: area20;
}

.grid-item21 {
  background: ;
  grid-area: area21;
}

.grid-item22 {
  background: ;
  grid-area: area22;
}

.grid-item23 {
  background: ;
  grid-area: area23;
}

.grid-item24 {
  background: ;
  grid-area: area24;
}

.grid-item25 {
  background: ;
  grid-area: area25;
}

.grid-item26 {
  background: ;
  grid-area: area26;
}

.grid-item27 {
  background: ;
  grid-area: area27;
}

.grid-item28 {
  background: ;
  grid-area: area28;
}

.grid-item29 {
  background: ;
  grid-area: area29;
}

.grid-item30 {
  background: ;
  grid-area: area30;
}

.grid-item31 {
  background: ;
  grid-area: area31;
}

.grid-item32 {
  background: ;
  grid-area: area32;
}

.grid-item33 {
  background: ;
  grid-area: area33;
}

.grid-item34 {
  background: ;
  grid-area: area34;
}

.grid-item35 {
  background: ;
  grid-area: area35;
}

.grid-item36 {
  background: ;
  grid-area: area36;
}

.grid-item37 {
  background: ;
  grid-area: area37;
}

.grid-item38 {
  background: ;
  grid-area: area38;
}

.grid-item39 {
  background: ;
  grid-area: area39;
}

.grid-item40 {
  background: ;
  grid-area: area40;
}
/* Tooltip container */
.tooltip1 {
  position: relative;
  display: inline-block;
}

/* Tooltip text 1 */
.tooltip1 .tooltiptext1 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  visibility: hidden;
  width: 220px;
  height: 40px;
  bottom: 120%;
  left: 55%;
  margin-left: -115px;
  background-color: #FA3C2F;
  color: #ffffff;
  padding: 5px 0;
  border-radius: 8px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;
}

.tooltip1 .tooltiptext1::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FA3C2F transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}
